{% if browzer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>GET</title>
</head>
<body>
    {% include 'REST/components/navbar.html' %}
    <form class='h-2/3 bg-blue-200 w-1/3 shadow-xl m-auto mt-8 flex justify-center items-center p-4' action="{% url 'REST:getjsondata' %}" method="POST">
        {% csrf_token %}
        <div class=''>
            <textarea rows="5" cols="50" name='testData' class='border border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent rounded-md' readonly>{{ json_data }}</textarea>
            <input type='checkbox' name='checkbrowzer' checked hidden />
            <button type='submit' class='bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 p-2 uppercase text-blue-200 font-semibold rounded-md' name='get_data'>Get data</button>
            {% if data_received %}
                <button type='submit' class='bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 p-2 uppercase text-blue-200 font-semibold rounded-md' name='decrypt'>decrypt data</button>
            {% endif %}
        </div>
    </form>
    <!-- <a href="{% url 'REST:view_data' %}">All test data</a> -->
    <div class="w-40 text-center m-auto p-2 mt-2 bg-green-400 p-2 rounded-md font-semibold text-green-800 focus:ring-2 focus:ring-green-700 uppercase">
        <a href="{% url 'REST:dbtable' %}" class="">See DB table</a>
    </div>
</body>
</html>
{% else %}
    api
{% endif %}