<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Parallel REST</title>
</head>
<body class="h-screen">
        {% include 'REST/components/navbar.html' %}
        <div class="h-2/3 bg-blue-200 w-1/3 shadow-xl m-auto mt-8 flex justify-center items-center">
            <a class="bg-blue-400 p-4 rounded-md mx-2 font-semibold text-gray-800 focus:ring-2 focus:ring-blue-600" href="{% url 'REST:getjsondata' %}">GET</a>
            <a class="bg-blue-400 p-4 rounded-md mx-2 font-semibold text-gray-800 focus:ring-2 focus:ring-blue-600" href="{% url 'REST:post' %}">POST</a>
            <a class="bg-blue-400 p-4 rounded-md mx-2 font-semibold text-gray-800 focus:ring-2 focus:ring-blue-600" href="{% url 'REST:put' %}">PUT</a>
            <a class="bg-blue-400 p-4 rounded-md mx-2 font-semibold text-gray-800 focus:ring-2 focus:ring-blue-600" href="{% url 'REST:dbtable' %}">DELETE</a>
            <!-- <li><a href="{% url 'REST:security' %}">Securing REST APIs</a></li> -->
        <div>
        <div>
            <a class="bg-green-400 p-4 rounded-md mx-2 font-semibold text-green-800 focus:ring-2 focus:ring-green-700" href="{% url 'REST:dbtable' %}">DATABASE</a>
        </div>
</body>
</html>