<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>POST</title>
</head>
<body>
    <form class='border-2 border-black' action="{% url 'REST:post' %}" method="POST">
        {% csrf_token %}
        <div class=''>
            <!-- <textarea rows="10" cols="50" name='testData'>{{ json_data|truncatewords_html:100 }}</textarea> -->
            <textarea rows="10" cols="50" name='testData'>{{ json_data }}</textarea>
            <input type='checkbox' name='checkbrowzer' checked hidden />
            <button type='submit' class='border-2 border-black' name='simple_post'>POST data</button>
            <button type='submit' class='border-2 border-black' name='parallel_post'>Parallel POST data</button>
        </div>
    </form>
    <a href="{% url 'REST:view_data' %}">All test data</a>
    <a href="{% url 'REST:dbtable' %}">See DB table</a>
</body>
</html>